ira/JudgeData.xsd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://judge.dit.mos.ru/JudgeData" xmlns:tns="http://judge.dit.mos.ru/JudgeData"
	elementFormDefault="qualified">

	<xsd:complexType name="CasePackageType">
		<xsd:annotation>
			<xsd:documentation>Сведения об отправке дела в мировой суд</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="repeatablePackage" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Признак повторной (true) или первичной (false) отправки дела</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="basicCase" type="tns:CaseDataType">
				<xsd:annotation>
					<xsd:documentation>Сведения о базовом деле</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="deviationCase" type="tns:CaseDataType">
				<xsd:annotation>
					<xsd:documentation>Сведения о деле 20.25</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="prejudiciousOrganization" type="tns:FicticiousPersonType">
				<xsd:annotation>
					<xsd:documentation>Орган досудебной подготовки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="vehicle" type="tns:VehicleDataType">
				<xsd:annotation>
					<xsd:documentation>Сведения о транспортном средстве нарушителя</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="VehicleDataType">
		<xsd:annotation>
			<xsd:documentation>Сведения о транспортном средстве нарушителя</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="model" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Марка/модель транспортного средства</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="color" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Цвет транспортного средства</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="plateNumber" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>ГРЗ транспортного средства</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="registrationCertificateNumber" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>СТС транспортного средства</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="CaseDataType">
		<xsd:annotation>
			<xsd:documentation>Сведения о базовом деле или деле 20.25</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="caseNumber" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Номер дела 20.25 или базового дела</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="proceedingDate" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>Дата возбуждения базового дела или дела 20.25</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="violator" type="tns:ViolatorDataType">
				<xsd:annotation>
					<xsd:documentation>Сведения о нарушителе по делу. Для базового дела и для дела 20.25 нарушители могут быть разными</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="violation" type="tns:ViolationDataType">
				<xsd:annotation>
					<xsd:documentation>Сведения о нарушении по базовому делу или делу 20.25</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:sequence>
					<xsd:annotation>
						<xsd:documentation>Атрибуты summons, record, payment задаются для дела 20.25</xsd:documentation>
					</xsd:annotation>
					<xsd:element name="summons" type="tns:SummonsType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Сведения об извещении 20.25</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="record" type="tns:RecordType">
						<xsd:annotation>
							<xsd:documentation>Сведения об протоколе 20.25</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="payment" type="tns:PaymentDataType">
						<xsd:annotation>
							<xsd:documentation>Сведения о реквизитах для оплаты штрафа по делу 20.25</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:element name="resolution" type="tns:ResolutionDataType">
					<xsd:annotation>
						<xsd:documentation>Сведения о постановлении по базовому делу. Элемент задается только для базового дела</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ViolationDataType">
		<xsd:annotation>
			<xsd:documentation>Сведения о нарушении по базовому делу или делу 20.25</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="violationDateTime" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>Дата и время нарушения по базовому делу или делу 20.25</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="violationAddress" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Адрес места нарушения по базовому делу или делу 20.25</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="articleNumber" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Статья КоАП по базовому делу или делу 20.25</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ViolatorDataType">
		<xsd:annotation>
			<xsd:documentation>Сведения о нарушителе. Допустимо задание только одного из трех атрибутов</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="naturalPerson" type="tns:NaturalPersonType">
					<xsd:annotation>
						<xsd:documentation>Нарушитель - физическое лицо</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ficticiousPerson" type="tns:FicticiousPersonType">
					<xsd:annotation>
						<xsd:documentation>Нарушитель - юридическое лицо</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="privatePerson" type="tns:PrivatePersonType">
					<xsd:annotation>
						<xsd:documentation>Нарушитель - индивидуальный предприниматель</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="NaturalPersonType">
		<xsd:annotation>
			<xsd:documentation>Сведения о физическом лице</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="tns:PersonNameType">
				<xsd:annotation>
					<xsd:documentation>Имя физического лица</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="address" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Адрес физического лица</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="birthDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Дата рождения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="birthPlace" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Место рождения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="phone" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Телефон для связи</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sex" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Пол физического лица</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="idData" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Данные документа удостоверения личности</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PersonNameType">
		<xsd:annotation>
			<xsd:documentation>Тип для хранения имени человека</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="firstName" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Имя человека</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lastName" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Фамилия человека</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="middleName" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Отчество человека</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="FicticiousPersonType">
		<xsd:annotation>
			<xsd:documentation>Сведения о юридическом лице</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="code" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Код юридического лица</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="title" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Наименование юридического лица</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="inn" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>ИНН юридического лица</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ogrn" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ОГРН юридического лица</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="kpp" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>КПП юридического лица</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="oktmo" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ОКТМО</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="registrationDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дата регистрации юридического лица</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="registrationAddress" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Адрес регистрации юридического лица</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="phone" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Телефон для связи</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="email" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Адрес электронной почты</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PrivatePersonType">
		<xsd:annotation>
			<xsd:documentation>Сведения об индивидуальном предпринимателе</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="tns:PersonNameType">
				<xsd:annotation>
					<xsd:documentation>ФИО нарушителя</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="inn" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>ИНН юридического лица</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ogrn" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ОГРН юридического лица</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="kpp" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>КПП юридического лица</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="register" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Регистрирующая организация</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="registrationDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дата регистрации юридического лица</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="registrationAddress" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Адрес регистрации индивидуального предпринимателя</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="birthDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дата рождения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="birthPlace" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Место рождения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="phone" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Телефон для связи</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="SummonsType">
		<xsd:annotation>
			<xsd:documentation>Сведения об извещении 20.25</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="attendanceDate" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>Дата и время явки по извещению</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="attendanceAddress" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Адрес рассмотрения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="signingEmployee" type="tns:EmployeeType">
				<xsd:annotation>
					<xsd:documentation>ФИО и должность подписанта извещения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mail" type="tns:MailDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Сведения о почтовом отправлении извещения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="MailDataType">
		<xsd:annotation>
			<xsd:documentation>Сведения о почтовом отправлении</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="mailIdentifier" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ШПИ почтового отправления</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mailStatus" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Статус почтового отправления</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mailStatusDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дата изменения статуса почтового отправления</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="EmployeeType">
		<xsd:annotation>
			<xsd:documentation>Сотрудник МАДИ</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="employeeName" type="tns:PersonNameType">
				<xsd:annotation>
					<xsd:documentation>Имя сотрудника МАДИ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="employeePosition" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Должность сотрудника МАДИ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="RecordType">
		<xsd:annotation>
			<xsd:documentation>Сведения о протоколе 20.25</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="recordNumber" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Номер протокола 20.25 (он же УИН)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="recordDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Дата составления протокола</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="considerationAddress" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Адрес рассмотрения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="signingEmployee" type="tns:EmployeeType">
				<xsd:annotation>
					<xsd:documentation>ФИО и должность сотрудника, подписавшего протокол</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="personalAppearance" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Сведения о явке для дачи показаний (признак явился/не явился)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="representativeAppearance" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Представитель явился</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="representative" type="tns:RepresentativeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ФИО и тип представителя</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="recordsNotes" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Замечания к протоколу (русским владеет/не владеет, постановление получал/не получал, жалобу подавал/не подавал)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="reasonWhyNotPayed" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Причины неоплаты</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="recordComments" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Замечания к содержанию протокола</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="phone" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>телефон для связи</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="RepresentativeType">
		<xsd:annotation>
			<xsd:documentation>Представитель нарушителя</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="tns:PersonNameType">
				<xsd:annotation>
					<xsd:documentation>Имя представителя нарушителя</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="type" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Тип представителя</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PaymentDataType">
		<xsd:annotation>
			<xsd:documentation>Сведения о реквизитах для оплаты штрафа</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="receiver" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Получатель платежа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="inn" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>ИНН</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="kpp" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>КПП</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="checkingAccount" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Расчетный счет</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bankName" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Банк получателя</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="kbk" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>КБК</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bik" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>БИК банка</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="oktmo" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>ОКТМО</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="uin" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>УИН для оплаты</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="payerName" type="tns:PersonNameType">
				<xsd:annotation>
					<xsd:documentation>Имя плательщика</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="payerAddress" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Адрес плательщика</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="paymentPurpose" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Назначение платежа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="paymentSum" type="xsd:float">
				<xsd:annotation>
					<xsd:documentation>Сумма штрафа по делу 20.25</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ResolutionDataType">
		<xsd:annotation>
			<xsd:documentation>Сведения о постановлении по базовому делу</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
            <xsd:element name="resolutionNumber" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Номер постановления</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
            <xsd:element name="resolutionDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Дата вынесения постановления</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pronouncementAddress" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Адрес места вынесения постановления</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="intoForceDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Дата вступления постановления в законную силу</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="paymentSum" type="xsd:float">
				<xsd:annotation>
					<xsd:documentation>Сумма штрафа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lastPaymentDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Дата последнего дня срока добровольной оплаты штрафа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="article" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Статья КоАП</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mail" type="tns:MailDataType">
				<xsd:annotation>
					<xsd:documentation>Сведения о почтовом отправлении постановления</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="signingEmployee" type="tns:EmployeeType">
				<xsd:annotation>
					<xsd:documentation>ФИО и должность подписанта</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hirePurchaseExists" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Признак наличия рассрочки по оплате штрафа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="CaseStatusType">
		<xsd:annotation>
			<xsd:documentation>Сообщение о статусе дела 20.25, приходящее от АИС ЕИП</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="caseStatusKind" type="tns:CaseStatusKindType">
				<xsd:annotation>
					<xsd:documentation>Статус дела 20.25</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:annotation>
					<xsd:documentation>Может быть передан один из четырех типов определений</xsd:documentation>
				</xsd:annotation>
				<xsd:element name="dismissalDefinition" type="tns:DismissalDefinitionType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Определение о прекращении производства по делу (передается вместе со статусом "Прекращено")</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="penaltyDefinition" type="tns:PenaltyDefinitionType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Определение о назначении административного наказания (передается вместе со статусом "Вступило в силу")</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="returnDefinition" type="tns:ReturnDefinitionType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Определение о возвращении протокола об административном правонарушении и других материалов дела в орган, должностному лицу (передается вместе со статусом "Возвращено")</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="transferDefinition" type="tns:TransferDefinitionType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Определение о передаче дела по подсудности (передается вместе со статусом "Передано по подсудности")</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="signedDigest" type="xsd:base64Binary" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Свертка подписанного документа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="signature" type="xsd:base64Binary" maxOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Электронная подпись документа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="CaseStatusKindType">
		<xsd:annotation>
			<xsd:documentation>Статус дела 20.25</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:enumeration value="0">
				<xsd:annotation>
					<xsd:documentation>Зарегистрировано</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation>Рассмотрение</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation>Завершено</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="3">
				<xsd:annotation>
					<xsd:documentation>Возвращено</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="4">
				<xsd:annotation>
					<xsd:documentation>Прекращено</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="5">
				<xsd:annotation>
					<xsd:documentation>Передано по подсудности</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="6">
				<xsd:annotation>
					<xsd:documentation>Обжаловано</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="7">
				<xsd:annotation>
					<xsd:documentation>Отменено</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="8">
				<xsd:annotation>
					<xsd:documentation>Вступило в силу</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="DismissalDefinitionType">
		<xsd:annotation>
			<xsd:documentation>Определение о прекращении производства по делу (передается вместе со статусом "Прекращено")</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="definitionNumber" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Номер определения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="definitionDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Дата создания определения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="courtDistrict" type="xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>Номер участка мирового суда</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="deviationCaseNumber" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Номер дела 20.25, пришедший из МАДИ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="judgeName" type="tns:PersonNameType">
				<xsd:annotation>
					<xsd:documentation>ФИО судьи, вынесшего определение</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="violator" type="tns:ViolatorDataType">
				<xsd:annotation>
					<xsd:documentation>Сведения о нарушителе</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dismissalReason" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Причина прекращения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PenaltyDefinitionType">
		<xsd:annotation>
			<xsd:documentation>Определение о назначении административного наказания (передается вместе со статусом "Вступило в силу")</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="resolutionNumber" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Номер постановления</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="resolutionDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Дата вынесения постановления</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="resolutionKind" type="tns:ResolutionKindType">
				<xsd:annotation>
					<xsd:documentation>Тип постановления (штраф, арест, невиновность, исправительные работы)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="courtDistrict" type="xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>Номер участка мирового суда</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="deviationCaseNumber" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Номер дела 20.25, пришедший из МАДИ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="judgeName" type="tns:PersonNameType">
				<xsd:annotation>
					<xsd:documentation>ФИО судьи, вынесшего определение</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="intoForceDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Дата вступления постановления в законную силу</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="paymentSum" type="xsd:float">
				<xsd:annotation>
					<xsd:documentation>Сумма штрафа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="violator" type="tns:ViolatorDataType">
				<xsd:annotation>
					<xsd:documentation>Сведения о нарушителе</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="violatorPresence" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Явился ли нарушитель на судебное заседание</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="extenuatingCircumstances" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Смягчающие обстоятельства</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="aggravatingCircumstances" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Отягчающие обстоятельства</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="paymentData" type="tns:PaymentDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Реквизиты для оплаты штрафа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="ResolutionKindType">
		<xsd:annotation>
			<xsd:documentation>Тип постановления (штраф, арест, невиновность, исправительные работы)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:enumeration value="0">
				<xsd:annotation>
					<xsd:documentation>Назначен штраф</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation>Назначен арест</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation>Считать невиновным</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="3">
				<xsd:annotation>
					<xsd:documentation>Назначены исправительные работы</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="ReturnDefinitionType">
		<xsd:annotation>
			<xsd:documentation>Определение о возвращении протокола об административном правонарушении и других материалов дела в орган, должностному лицу (передается вместе со статусом "Возвращено")</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="definitionNumber" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Номер определения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="definitionDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Дата создания определения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="courtDistrict" type="xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>Номер участка мирового суда</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="deviationCaseNumber" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Номер дела 20.25, пришедший из МАДИ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="judgeName" type="tns:PersonNameType">
				<xsd:annotation>
					<xsd:documentation>ФИО судьи, вынесшего определение</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="violator" type="tns:ViolatorDataType">
				<xsd:annotation>
					<xsd:documentation>Сведения о нарушителе</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="returnReason" type="tns:ReturnReasonType">
				<xsd:annotation>
					<xsd:documentation>Причина возврата дела в орган, должностному лицу, составившим протокол</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="ReturnReasonType">
		<xsd:annotation>
			<xsd:documentation>Согласно п. 4 ч. 1 ст. 29.4 КоАП протокол об административном правонарушении и другие материалы дела могут быть возвращены в орган, должностному лицу, составившим протокол, в четырех случаях</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:enumeration value="0">
				<xsd:annotation>
					<xsd:documentation>составление протокола и оформление других материалов дела неправомочными лицами</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation>неправильное составление протокола</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation>неправильное оформление других материалов дела</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="3">
				<xsd:annotation>
					<xsd:documentation>неполнота представленных материалов, которая не может быть восполнена при рассмотрении дела</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:complexType name="TransferDefinitionType">
		<xsd:annotation>
			<xsd:documentation>Определение о передаче дела по подсудности (передается вместе со статусом "Передано по подсудности")</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="definitionNumber" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Номер определения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="definitionDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Дата создания определения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="courtDistrict" type="xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>Номер участка мирового суда</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="deviationCaseNumber" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Номер дела 20.25, пришедший из МАДИ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="judgeName" type="tns:PersonNameType">
				<xsd:annotation>
					<xsd:documentation>ФИО судьи, вынесшего определение</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="violator" type="tns:ViolatorDataType">
				<xsd:annotation>
					<xsd:documentation>Сведения о нарушителе</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="courtDistrictForTransfer" type="xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>Номер участка мирового суда, на который передается дело</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>